body {
  background-color: rgb(57, 169, 219);
  font-family: Rubik, Arial;
  padding: 0px;
  margin: 0px;
}

form {
  text-align: center;
  line-height: 30px;
  height: 80%;
  overflow: auto;
}

#overlay {
  width: 60%;
  margin: 3% auto;
  height: 65vh;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 40px;
}

.astroSign {
  padding-top: 20px;
}

h1 {
  display: block;
  padding-top: 30px;
}

p {
  display: block;
}
